@import url(file:///tmp/guest-wsaqus/%C3%81rea%20de%20Trabalho/projeto3e-main/index.html);

:root{
    --cor-de-fundo-lienar-clara:#00FF55;
    --cor-de-fundo-linear-escura:#000000;
    --abas-nao-selecionadas: #145B75;
    --letras-geral:#02E0D5;
    --abas-selecionadas:#2785a7;
    --letras-aba-selecionada:#000000;
    --branco:#FFFFFF;
}

body{
    background: linear-gradient(to bottom, #0f4a5f, #1b4250 );
    margin: 0;
    height: 100vh;
}
.titulo-principal{
    color: #444;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;

}
.botao{
    font-family:"Chakra Peth";
    color: #02E0D5;
    background-color: #145B75;
    border-color: #145B75;
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--abas-selecionadas);
    border-left: 2px solid var(--abas-selecionadas);
    border-right: 2px solid var(--abas-selecionadas);
    border-top: none;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botoes{
display: block;
}

.botao:hover{
    background-color: var(--abas-selecionadas);
    color: #000000;
}

@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius:0 40px 0 0;
    }
}

.conteudo-principal{
display: flex;
flex-direction: column;
align-items: center;
max-width: 1400px;
width: 100%;
margin: 0 auto;
justify-content: center;
}

.titulo-principal{
    flex-direction: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{

    color: var(#FFFFFF)
}
