
:root{
    --cor-de-fundo-lienar-clara:#00FF55;
    --cor-de-fundo-linear-escura:#000000;
    --abas-nao-selecionadas: #145B75;
    --letras-geral:#02E0D5;
    --abas-selecionadas:#24AEE0;
    --letras-aba-selecionada:#000000;
    --branco:#FFFFFF;
}

body{
    background: linear-gradient(to bottom, #00cc44,#02ac3a,#00350b,#000000, #000000 );
    margin: 0;
    height: 100vh;
}
.titulo-principal{
    color:#FFFFFF;
}
.botao{
    color: #02E0D5;
    background-color: #145B75;
    border-color: #145B75;
  
}

.botao:hover{
    background-color: var(--abas-selecionadas);
    color: #000000;
}

.conteudo-principal{
display: flex;
flex-direction: column;
align-items: center;
max-width: 1400px;
width: 100%;
margin: 0 auto;
justify-content: center;
}

.titulo-principal{
    flex-direction: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{

    color: var(#FFFFFF)
}
