:root{
    --cor-de-fundo:#000000b2;
    --cor-texto:#ffffff;
    --cor-ativa:#01b7ff;
    --cor-inativo:#5b87ff;
    --cor-aba:#0099ff;
    --cor-borda:#316fe2;
    --cor-ativado:#ffffff;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal span{
    flex-direction: left; width: 100%; font-size: 32px; font-size:36px; -webkit-background-clip: text; color: white; -webkit-text-fill-color: transparent; background-color:#FFFFFF; background-image: -webkit-linear-gradient(left,#ea1111,#ff9900,#c8ff00,#00ff22,#00eeff,#0004ff,#ae00ff,#ff00dd,#ff0000); background-image: -moz-linear-gradient(left,#ea1111,#ff9900,#c8ff00,#00ff22,#00eeff,#0004ff,#ae00ff,#ff00dd,#ff0000); background-image: -ms-linear-gradient(left,#ea1111,#ff9900,#c8ff00,#00ff22,#00eeff,#0004ff,#ae00ff,#ff00dd,#ff0000); background-image: -o-linear-gradient(left,#ea1111,#ff9900,#c8ff00,#00ff22,#00eeff,#0004ff,#ae00ff,#ff00dd,#ff0000); }
.titulo-principal{
    flex-direction: left; width: 100%; font-size: 32px; font-size:36px; -webkit-background-clip: text; color: white; -webkit-text-fill-color: transparent; background-color:#FFFFFF; background-image: -webkit-linear-gradient(left,#ea1111,#ff9900,#c8ff00,#00ff22,#00eeff,#0004ff,#ae00ff,#ff00dd,#ff0000); background-image: -moz-linear-gradient(left,#ea1111,#ff9900,#c8ff00,#00ff22,#00eeff,#0004ff,#ae00ff,#ff00dd,#ff0000); background-image: -ms-linear-gradient(left,#ea1111,#ff9900,#c8ff00,#00ff22,#00eeff,#0004ff,#ae00ff,#ff00dd,#ff0000); background-image: -o-linear-gradient(left,#ea1111,#ff9900,#c8ff00,#00ff22,#00eeff,#0004ff,#ae00ff,#ff00dd,#ff0000); }
.botao{
    font-family: "Archivo Black", sans-serif;
    background-color: var(--cor-borda);
    color:var(--cor-texto);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--cor-ativa);
    border-left: 2px solid var(--cor-ativa);
    border-right: 2px solid var(--cor-ativa);
    border-top: none;
    
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display: flex;
}
.ativo{
    background-color: var(--cor-ativa);
    border-bottom: 4px solid var(--cor-ativado);
}
.abas-textos{
    background-color: var(--cor-inativo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.abas-conteudo-ativo{
    display: block;
}
.abas-conteudo{
    display: none;
}
.abas-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.abas-conteudo-titulo-secundario{
    text-align: center;
    color: var(--cor-borda);
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}